.footerContainer {
    background-color: var(--color-dark);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footerMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width-wide);
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.column {
    flex: 1 1 300px; 
    margin: 10px;
}

.column h2, .column h3 {
    margin-bottom: 10px;
}

.column p {
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 5px; 
}

/* Social Media Icons */
.column:last-child {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: -10px; 
}

.footerMain svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.footerMain svg:hover {
    transform: scale(1.2);
    color: #FFD700; 
}

.footerBottom {
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;
    padding-top: 15px;
}

.link {
    color: inherit;
}

@media (max-width: 1100px) {
    .footerMain {
        flex-direction: column;
        text-align: center;
        gap: 10px; 
    }

    .column {
        max-height: 150px;
        margin: 5px 0; 
    }

    .column:last-child {
        margin-top: 5px; 
        max-height: 75px;
    }
}
