.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 9999 !important;
    transition: background 0.3s ease-in-out;
}

.menuContainer {
    background: #F5F4ED;
    width: 75%;
    max-width: 400px;
    height: 100vh;
    position: relative;
    transform: translateX(100%);
    transition: transform 1.5s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menuOpen {
    transform: translateX(0);
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
