.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #e2e8f0;
}

.logo {
  flex: 1;
  height: 61px;
  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
}

.logo img {
    cursor: pointer;
}

.logoImage {
  object-fit: contain;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
}

.menu li {
    font-family: var(--font-body);
    font-size: 1.25rem;
    font-weight: 500;
}

.menu li a {
    text-decoration: none;
    color: var(--color-text);
    transition: color 0.3s;
}

.menu li a:hover {
    color: var(--color-primary);
}

.menu li a.active {
    color: var(--color-primary);
    font-weight: bold;
}

.menuToggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-text);
}

.languages {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.languages img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.languages img:hover {
    transform: scale(1.1);
}

.inactive {
    display: none;
}

@media (max-width: 1100px) {
    .navbar {
        padding: 1rem 1.5rem;
        justify-content: space-between;
    }

    .logo {
        flex: 1;
        display: flex;
    }

    .logo img {
        max-width: 120px;
        height: auto;
    }

    .menu {
        display: none;
        flex-direction: column;
    }

    .menu li {
        text-align: center;
        width: 100%;
    }

    .menuToggle {
        display: block;
        z-index: 10;
    }

    .menuOpen {
        display: flex;
    }

    .languages {
        display: none;
    }

    .mobileMenu {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .mobileMenu li {
        font-family: var(--font-body);
        font-size: 1.25rem;
        font-weight: 500;
    }

    .mobileMenu li a {
        text-decoration: none;
        color: var(--color-text);
        transition: color 0.3s ease-in-out;
    }

    .mobileMenu li a:hover {
        color: var(--color-primary);
    }

    .mobileMenu li a.active {
        color: var(--color-primary);
        font-weight: bold;
    }

    .mobileSocial {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        margin-top: 2rem;
    }
}
