.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: #F5F4ED;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  position: relative;
  width: 220px;   
  height: 60px;    
  display: flex;
  align-items: center;
}

.logo img {
    cursor: pointer;
}

.logoImage {
  object-fit: contain;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
}

.menu li {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #BA9C73
}

.menu li a.active {
    color: #BA9C73;
    font-weight: bold;
}

.menuToggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.languages {
    display: flex;
    gap: 1rem;
}

.languages img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.languages img:hover {
    transform: scale(1.1);
}

.inactive {
    display: none;
}

@media (max-width: 939px) {
    .navbar {
        padding: 1rem 1.5rem;
        justify-content: space-between;
    }

    .logo {
        flex: 1;
        display: flex;
    }

    .logo img {
        max-width: 120px;
        height: auto;
    }

    .menu {
        display: none;
        flex-direction: column;
    }

    .menu li {
        text-align: center;
        width: 100%;
    }

    .menuToggle {
        display: block;
        z-index: 10;
    }

    .menuOpen {
        display: flex;
    }

    .languages {
        display: none;
    }

    .mobileMenu {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .mobileMenu li {
        font-family: Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .mobileMenu li a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease-in-out;
    }

    .mobileMenu li a:hover {
        color: #BA9C73;
    }

    .mobileMenu li a.active {
        color: #BA9C73;
        font-weight: bold;
    }

    .mobileSocial {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        margin-top: 2rem;
    }
}