.container {
    background-color: #F0F0F1;
    max-width: 100vw;
    margin: auto;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}

.heroSection {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-position: 0% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.heroText {
    position: relative;
    z-index: 2;
    font-size: 2rem;
    font-weight: bold;
    max-width: 600px;
    margin: auto 0;
}

.heroText h1 {
    font-size: 3rem;
    margin: 0 auto;
}

.heroParagraph {
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 0;
}

.sectionOverlay {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 75vh;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 0;
}

.column {
    float: left;
    width: 50%;
    padding: 0 5rem;
    box-sizing: border-box;
}

.sectionOverlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.sectionBox {
    background-color: #F0F0F1;
    padding: 40px;
    border-radius: 10px;
    max-width: 80%;
    margin: 20px auto;
    text-align: center;
}

.sectionTitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

.sectionText {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: bold;
}

.blackSection {
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 5rem 5rem;
}

.sectionParagraph {
    background-color: #F0F0F1;
    color: #555;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    max-width: 90%;
    margin: 0 auto;
}

.linkButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F5F4ED;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.linkButton:hover {
    background-color: #f5f4ed83;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.copyrightSection {
    width: 100%;
    background-color: #F0F0F1;
    padding: 40px 20px;
    margin-top: 0;
}

.copyrightBackground {
    max-width: 80%;
    margin: auto;
    padding: 20px;
}

.copyrightTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.copyrightParagraph {
    font-size: 1.2rem;
    color: #555;
    max-width: 100%;
    text-align: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}


/* max width for phones, then max width for tablets, then min-width for PC */

@media (max-width: 1100px) {
    .heroSection {
        padding: 0;
    }

    .heroText {
        margin: 3rem auto;
    }

    .blackSection {
        padding: 25px 5px;
        margin: 0;
    }

    .blackSection p {
        margin: 0;
    }

    .copyrightSection {
        padding: 0;
        margin: 0;
    }

    .column {
        float: none;
        width: 100%;
        padding: 0 1rem; 
    }
}

@media (max-width: 550px) {
    .heroText,
    .heroParagraph {
        padding: 0 10px;
        font-size: 1rem;
    }
}
