:root {
  --screen-xs: 23.4375rem;   /* 375px */
  --screen-sm: 28.125rem;    /* 450px */
  --screen-md: 58.75rem;     /* 940px */
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Great Vibes';
  src: url('/fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
