.coverImage {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.title {
  text-align: center;
  font-family: var(--font-heading);
  font-size: 2rem;
  padding: 0 10px;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 90%;
}

.paragraphContainer {
  background: #F2F2F2;
  padding: 20px;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.paragraph {
  font-size: 1.25rem;
  line-height: 1.7;
  color: var(--color-text);
  font-family: var(--font-body);
  text-align: left;
  margin: 0;
  max-width: var(--max-width-content);
  padding: 0;
}

.paragraphTitle {
  max-width: var(--max-width-content);
  font-size: 1.5rem;
  font-family: var(--font-heading);
  text-align: center;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 0;
}

@media (max-width: 1100px) {
  .title {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
